<div th:fragment="delete-form">


    <div class="form-delete" id="formDelete">

        <form action="#" th:action="@{/admin/delete}" th:object="${userDelete}" method="POST">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Delete user</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body ">

                        <div id="card-edit-from" class="card-edit text-center">


                            <label for="id">ID</label>
                            <input type="text" id="id" th:field="*{id}" class="form-control disable ">

                            <label for="name">First name</label>
                            <input type="text" id="name" th:field="*{name}" class="form-control disable "
                                   placeholder="name">


                            <label for="surname">Last name</label>
                            <input type="text" id="surname" th:field="*{surname}" class="form-control disable "
                                   placeholder="surname">

                            <label for="email">Email</label>
                            <input type="text" id="email" th:field="*{email}" class="form-control disable "
                                   placeholder="email">


                            <label for="age">Age</label>
                            <input type="text" id="age" th:field="*{age}" class="form-control disable ">


                            <label for="password">Password</label>
                            <input type="text" id="password" th:field="*{password}" class="form-control disable ">


                            <label for="role-select">Role</label>
                            <select id="role-select" class="custom-select  mr-sm-2" th:field="*{roles}"
                                    multiple="multiple">
                                <option value="ADMIN">ADMIN</option>
                                <option value="USER">USER</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                            <button id="edit-button" type="submit" class="btn btn-outline-danger">Delete</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>


