<div th:fragment="edit-form">

    <div class="modal fade" id="showModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">

        <div class="form-edit" id="formEdit">
            <form action="#"   method="post">
                <!--            <form>-->
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title  " id="staticBackdropLabel">Edit user</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body col-8 offset-2">

                            <div id="card-edit-from" class="card-edit text-center">


                                <label for="idEdit">ID</label>
                                <input type="text" id="idEdit" class="form-control disable ">

                                <label for="nameEdit">First name</label>
                                <input type="text" id="nameEdit" class="form-control">


                                <label for="surnameEdit">Last name</label>
                                <input type="text" id="surnameEdit"  class="form-control ">

                                <label for="emailEdit">Email</label>
                                <input type="text" id="emailEdit"  class="form-control">


                                <label for="ageEdit">Age</label>
                                <input type="text" id="ageEdit"  class="form-control ">


                                <label for="passwordEdit">Password</label>
                                <input type="text" id="passwordEdit"  class="form-control">


                                <label for="roleEdit">Role</label>
                                <select id="roleEdit" class="custom-select  mr-sm-2"
                                        multiple="multiple">
                                    <option value="ADMIN">ADMIN</option>
                                    <option value="USER">USER</option>
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                                <button id="edit-button" class="btn btn-outline-info"></button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>
