<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Save User</title>
</head>

<body>

<div class="container">

    <h3>User Directory</h3>
    <hr>

    <p class="h4 mb-4">Save User</p>

    <form action="#" th:action="@{/registration}" th:object="${user}" method="POST">

        <div id="card-add-from" class="card-add text-center">
            <input type="hidden" th:field="*{id}">
            <div class="form-group text-center">
                <label for="addName">First name</label>
                <input id="addName" type="text" th:field="*{name}" class="form-control"
                       placeholder="name" required="required">
            </div>
            <div class="form-group text-center">
                <label for="addSurname">Last name</label>
                <input id="addSurname" type="text" th:field="*{surname}" class="form-control"
                       placeholder="surname" required="required">
            </div>
            <div class="form-group text-center">
                <label for="addEmail">Email</label>
                <input id="addEmail" type="text" th:field="*{email}" class="form-control"
                       placeholder="email" required="required">
            </div>
            <div class="form-group text-center">
                <label for="addAge">Age</label>
                <input id="addAge" type="text" th:field="*{age}" class="form-control"
                       placeholder="age" required="required">
            </div>
            <div class="form-group text-center">
                <label for="addPassword">Password</label>
                <input id="addPassword" type="text" th:field="*{password}"
                       class="form-control" placeholder="password" required="required">
            </div>
            <div class="form-group text-center">
                <label for="addConfirmPassword">Confirm Password</label>
                <input id="addConfirmPassword" type="text" th:field="*{confirmPassword}"
                       class="form-control" placeholder="confirmPassword"
                       required="required">
            </div>
            <div class="form-group text-center">
                <label for="add-role-select">Role</label>
                <select class="custom-select" th:field="*{roles}" id="add-role-select"
                        multiple="multiple" required="required">
                    <option value="USER">USER</option>
                    <option value="ADMIN">ADMIN</option>
                </select>
            </div>
            <button type="submit" class="btn btn-outline-info">Registration</button>
        </div>

    </form>

    <hr>
    <a th:href="@{/user}">Back to User List</a>

</div>
</body>
</html>